<template>
  <q-page class="">

  	<div class="q-ml-md">
  		<h3 class="titulo">Portafolio</h3>

  		<q-breadcrumbs>
	      <q-breadcrumbs-el :to="{ path: '/panel/registro-portafolios' }" label="Inicio" />
	      <q-breadcrumbs-el label="Portafolio" />
	    </q-breadcrumbs>
  
  	</div>

  	<div class="q-ml-md q-my-xs">
  		<q-btn-dropdown class="boton-dropdown" label="Categoria">
	      <q-list>
	        <q-item clickable v-close-popup >
	          <q-item-section>
	            <q-item-label>Photos</q-item-label>
	          </q-item-section>
	        </q-item>

	        <q-item clickable v-close-popup >
	          <q-item-section>
	            <q-item-label>Videos</q-item-label>
	          </q-item-section>
	        </q-item>

	        <q-item clickable v-close-popup >
	          <q-item-section>
	            <q-item-label>Articles</q-item-label>
	          </q-item-section>
	        </q-item>

	      </q-list>
	    </q-btn-dropdown>

	    <q-btn-dropdown class="ml boton-dropdown"  label="Todas las Fechas">
	      <q-list>
	        <q-item clickable v-close-popup >
	          <q-item-section>
	            <q-item-label>Photos</q-item-label>
	          </q-item-section>
	        </q-item>

	        <q-item clickable v-close-popup >
	          <q-item-section>
	            <q-item-label>Videos</q-item-label>
	          </q-item-section>
	        </q-item>

	      </q-list>
	    </q-btn-dropdown>
	</div>
	
	<div class="q-mb-md ml-formulario-portafolio q-ml-md ">
	   	
		<div class="row" v-if="this.dataPortafolios.length > 0">

			<DetallePortafolio 
				v-for="link in dataPortafolios"
				:key="link.title"
				v-bind="link"
			/>
		
	   	</div>

		<div class="row" v-else>
			<div class="col-md-12">
				<h3>No hay Portafolios registrados....</h3>
			</div>
		</div>

  	</div>
  	

  </q-page>
</template>

<script>

import DetallePortafolio from 'components/DetallePortafolio'

export default {
  name: "PageIndex",
  components: { DetallePortafolio },
  data () {
	  return {
		  dataPortafolios: []
	  }
  },
  created(){
	  let token = this.$store.getters['usuario/token']

	  this.$axiosMetodosApi.getPortafolios(token)
        .then( (response) => {


			if (response.data.code == 403) {
				localStorage.removeItem('token')
				this.$PushRoute('/')

				this.$q.notify({
					color: 'red-5',
					textColor: 'white',
					position: 'top',
					icon: 'warning',
					message: response.data.mensaje
				})

				return;
			}

          //console.log(response.data)
          if (response.data.code == 200){
        //console.log(response.data);
        
              this.dataPortafolios = []

              var datos =  response.data.portafolios

              for (let index = 0; index < datos.length; index++) {

                  this.dataPortafolios[index] = {
                    titulo: datos[index].titulo,
                    autor: datos[index].autor,
                    link: datos[index].link,
                    descripcion: datos[index].descripcion,
					img_destacada : datos[index].img_destacada,
					fechaRegistro : datos[index].fechaRegistro
                }
                
			}
          
          }
  
        }).catch( (error) => {

          alert(error)
          
    });
  }
};
</script>

<style type="text/css">

	.ml {
			margin-left: 16px;
	}
	
	.enlacesPage {
		text-decoration: none;
		color: #212169;
	}

	
	.boton-dropdown {
		border: .5px solid #212169;
	}

	

  	#section2 {
  		border-top: 0.5px solid #1F618D;
  		border-radius: 0px;
	}
	  

	@media only screen and (max-width: 767.9px) {
		.ml {
			margin-left: 0px;
		}

		.ml-formulario-portafolio {
			margin-left: 25px;
			width: 100%;
		}
	}

</style>

