<template>

  <q-page class="">

    <div class="row justify-center">

      <div class="col-xs-11 col-sm-5 col-md-5">

        <q-card class="my-card-login">
          <q-card-section>
            <img src="~assets/logo-netizenone.png">
            <div class="text-subtitle2">Ingrese usuario y contraseña</div>
          </q-card-section>

          <q-card-section>

            <q-form
              @submit="onSubmit"
              class="q-gutter-md"
            >
              
              <q-input 
                label-color="azulMarino"
                v-model="usuario"
                placeholder="Nombre de Usuario" 
                label="USUARIO" 
                lazy-rules
                :rules="[ val => val && val.length > 0 || 'Ingrese su usuario']"

              />

              <q-input
                type="password"
                v-model="password"
                placeholder="***********"
                label="CONTRASEÑA"
                lazy-rules
                :rules="[
                  val => val !== null && val !== '' || 'Ingrese su contraseña'
                ]"
              />  

              <div class="row justify-between">

                <div class="col-xs-5 col-md-6">
                  
                    <q-checkbox v-model="recordarPass" label="Recordar" />
                  
                </div>

                <div class="col-xs-7 col-md-6 pt-2">
                  <router-link class="enlace" to="/Login">Olvidates tu contraseña?</router-link>
                </div>
                
              </div>

              <div class="flex flex-center mt-2">
                <q-btn label="INICIAR SESION" type="submit" class="btnAzulCielo"/>
                <!--<q-btn label="Reset" type="reset" color="primary" flat class="q-ml-sm" />-->
              </div>

            </q-form>

          </q-card-section> 

        </q-card>
        
      </div>

      <div class="col-sm-6 col-md-4">
        <img id="logo-login"  alt="Admin logo" src="~assets/logo.png" />
      </div>

    </div>

    <div class="row">
      <div class="col-xs-12 col-sm-5 col-md-5">
         <div class="copyrigth">
          
            <p>Copyrigth NetizenOne 2020 @</p>
            
        </div>
      </div>
    </div>
    
  </q-page>
  
</template>

<script>

import axios from 'axios'
import { Notify } from 'quasar'

export default {
  name: 'Login',
  data () {
    return {
      usuario: null,
      password: null,
      recordarPass: false
    }
  },

  methods: {
    onSubmit () {
      var data = {}
      data.email = this.usuario
      data.pass = this.password

      let result
      
      this.$store.dispatch('usuario/login',data)
      .then( (response) => {
        //console.log(response.data)
        if (response.data.code != 200) {

            this.$q.notify({
                color: 'red-5',
                textColor: 'white',
                position: 'top',
                icon: 'warning',
                message: response.data.mensaje
            })
            //localStorage.setItem('token', "");

          }else{

            this.$PushRoute('/Panel');
            //location.href="#/Panel";
            //location.reload()

          }
 
      }).catch( (error) => {

        alert(error)
         
      })

    }
  },

  created (){
    //console.log(window.localStorage.token);
  }
  
}
</script>