<template>
  <q-page padding>
    <!-- content -->
    <div class="q-ml-md">
  		<h3 class="titulo">Mi Perfil</h3>

  		<q-breadcrumbs>
	      <q-breadcrumbs-el :to="{ path: '/panel' }" label="Inicio" />
	      <q-breadcrumbs-el label="perfil" />
	      
	    </q-breadcrumbs>
    </div>  

      <h5 style="text-align: center;"  class="titulo">Modificar Datos</h5>

    <div class="ml-personalizado q-ml-md" style="text-align: center">
      
        <div class="q-pa-md flex flex-center" style="">

          <q-card class="my-cardPerfil">

            <q-card-section>

              <q-form
                
                class="q-gutter-md"
              >

                <div class="row justify-between">
                  
                  <div class="col-xs-12 col-md-5 ">
                    <q-input
                     
                      label="Nombres"
                      lazy-rules
                      :rules="[ val => val && val.length > 0 || 'Este campo es obligatorio']"
                    />
                    
                  </div>
                  <div class="col-xs-12 col-md-5 ">
                    <q-input
                    
                      label="Apellidos"
                      lazy-rules
                      :rules="[ val => val && val.length > 0 || 'Este campo es obligatorio']"
                    />
                    
                  </div>

                 
                </div>

                 <div class="row justify-between">
                  
                    <div class="col-xs-12 col-md-5">
                      <q-input
                        
                        label="Correo"
                        lazy-rules
                        :rules="[ val => val && val.length > 0 || 'Este campo es obligatorio']"
                      />
                      
                    </div>

                    <div class="col-xs-12 col-md-5 q-pt-lg">
                      <q-checkbox v-model="opcionPass" label="Cambiar Contraseña" />
                    </div>

                </div>

                <div class="row justify-between q-pt-md">

                    <div class="col-xs-12 col-md-5 " v-if="opcionPass == true">
                    <q-input
                      type="password"
      
                      placeholder="***********"
                      label="NUEVA CONTRASEÑA"
                      lazy-rules
                      :rules="[ val => val && val.length > 0 || 'Este campo es obligatorio']"
                    />
                    
                  </div>

                </div>

               

                <div class="row q-pt-md justify-center">

                  <div class="col-md-4">

                    <q-btn label="Actualizar" type="submit" class="btnAzulCielo"/>
                    
                  </div>

                </div>  


              </q-form>

            </q-card-section>  

            

          </q-card>

        </div>  

    </div>
  
  </q-page>
</template>

<script>
export default {
   name: 'Perfil',
   data () {
     return {
       opcionPass: false,
     }
   },

   created(){

    let token = this.$store.getters['usuario/token']

    this.$axiosMetodosApi.ValidarToken(token)
        .then( (response) => {
          
          if (response.data.code == 403) {

              this.$PushRoute('/')

              this.$q.notify({
                color: 'red-5',
                textColor: 'white',
                position: 'top',
                icon: 'warning',
                message: response.data.mensaje
              })
          }
      })
      .catch( (error) => {

        this.$PushRoute('/')
          
      });
  }

}
</script>



<style scoped>

  .my-cardPerfil{
    width: 900px;
  }

</style>
