<template>
  <q-page padding>
    
    <div class="q-ml-md">
  		<h3 class="titulo">Registrar Portafolios</h3>

  		<q-breadcrumbs>
	      <q-breadcrumbs-el :to="{ path: '/' }" label="Inicio" />
	      
	    </q-breadcrumbs>
  
  	</div>


    <div class="ml-registroPortafolio q-ml-md  q-mt-lg">

      <div class="row justify-between">

        <div class="col-xs-12 col-md-7" >

          <q-card class="">

            <q-card-section>

              <q-form
                id="myFormulario"
                class="q-gutter-md"
              >

                <div class="row justify-between">
                  
                  <div class="col-xs-12 col-md-12 ">
                    <q-input
                      filled
                      v-model="nombre"
                      label="Nombre del proyecto"
                      lazy-rules
                      :rules="[ val => val && val.length > 0 || 'Este campo es obligatorio']"
                    />

                     <q-input
                      filled
                      v-model="autor"
                      label="Nombre del Autor"
                      lazy-rules
                      :rules="[ val => val && val.length > 0 || 'Este campo es obligatorio']"
                    />

                    <q-input
                      filled
                      v-model="url"
                      label="Url"
                      lazy-rules
                      :rules="[ val => val && val.length > 0 || 'Este campo es obligatorio']"
                    />

                    <q-file filled v-model="imgDestacada" label="Imagen Destacada" />
                    
                  </div>
                  

                </div> 

                <div class="row">
                  <div class="col-md-12">
                     <q-editor v-model="descripcion" min-height="5rem" />
                  </div>


                </div>

                <div class="row q-pt-md justify-center">

                  <div class="col-md-7">

                     <q-btn @click="guardarPortafolio" class="btnAzulCielo" label="Guardar Portafolio" />
                    
                  </div>

                </div>  

              </q-form>

            </q-card-section>  

           

          
          </q-card>
          
        </div>

        <div class="col-xs-12 col-md-4">

          <q-card>

            <q-expansion-item
              expand-separator
              label="Categoria"
            >
              <q-card>

                <q-card-section>

                  <q-tabs
                    v-model="tab"
                    dense
                    class="text-grey"
                    active-color="primary"
                    indicator-color="primary"
                    align="justify"
                    narrow-indicator
                  >
                    <q-tab name="todas_categorias" label="All Categories" />
                    <q-tab name="mas_utilizadas" label="Mas Utilizadas" />
                  </q-tabs>

                  <q-separator />

                  <q-tab-panels v-model="tab" animated>
                    <q-tab-panel name="todas_categorias">
                      
                      <q-list>
                        <q-item tag="label" v-ripple>
                          <q-item-section avatar>
                            <q-radio v-model="opcionCategoria" val="teal" color="teal" />
                          </q-item-section>
                          <q-item-section>
                            <q-item-label>Teal</q-item-label>
                          </q-item-section>
                        </q-item>

                        <q-item tag="label" v-ripple>
                          <q-item-section avatar>
                            <q-radio v-model="opcionCategoria" val="orange" color="orange" />
                          </q-item-section>
                          <q-item-section>
                            <q-item-label>Orange</q-item-label>
                            <q-item-label caption>With description </q-item-label>
                          </q-item-section>
                        </q-item>
                      </q-list>

                    </q-tab-panel>

                    <q-tab-panel name="mas_utilizadas">
                      
                      <q-list>
                        <q-item tag="label" v-ripple>
                          <q-item-section avatar>
                            <q-radio v-model="opcionCategoria" val="teal" color="teal" />
                          </q-item-section>
                          <q-item-section>
                            <q-item-label>Teal</q-item-label>
                          </q-item-section>
                        </q-item>

                        <q-item tag="label" v-ripple>
                          <q-item-section avatar>
                            <q-radio v-model="opcionCategoria" val="orange" color="orange" />
                          </q-item-section>
                          <q-item-section>
                            <q-item-label>Orange</q-item-label>
                            <q-item-label caption>With description </q-item-label>
                          </q-item-section>
                        </q-item>

                        
                      </q-list>
                    </q-tab-panel>


                  </q-tab-panels>

                </q-card-section>

              </q-card>

            </q-expansion-item>

         </q-card>

         <q-card class="q-mt-lg">

            <q-expansion-item
              expand-separator
              label="Imagen Destacada"
            >
              <q-card>

                <q-card-section>

                  <q-tabs
                    v-model="tab"
                    dense
                    class="text-grey"
                    active-color="primary"
                    indicator-color="primary"
                    align="justify"
                    narrow-indicator
                  >
                    <q-tab name="imgDestacada" label="All Categories" />
                    
                  </q-tabs>

                  <q-separator />

                  <q-tab-panels v-model="tab" animated>
                    <q-tab-panel name="imgDestacada">
                      
                      <img height="200" src="~assets/panel/prueba.png">

                    </q-tab-panel>

                  </q-tab-panels>

                </q-card-section>

              </q-card>

            </q-expansion-item>

         </q-card>
          
        </div>
        
      </div>
      
    </div>

  </q-page>
</template>

<script>

import { Notify } from 'quasar'

import axios from 'axios'

export default {
  name: 'RegistroPortafolio',
  data () {
    return {
      tab: 'mails',
      descripcion : "",
      opcionCategoria : null,
      nombre : null,
      autor: null,
      url: null,
      imgDestacada : null
    }
  },

  methods: {
    guardarPortafolio () {
      //console.log(this.imgDestacada);

      let data = new FormData()

      data.append('nombre',this.nombre)
      data.append('autor',this.autor)
      data.append('file',this.imgDestacada)
      data.append('url', this.url)
      data.append('descripcion', this.descripcion)


      let token = this.$store.getters['usuario/token']

      //post
      this.$axiosMetodosApi.registarPortafolio(data,token)
      .then( (response) => {

          console.log("data response " + response.data);
          
          if (response.data.code == 403) {
            localStorage.removeItem('token')
            this.$PushRoute('/')

            this.$q.notify({
                color: 'red-5',
                textColor: 'white',
                position: 'top',
                icon: 'warning',
                message: response.data.mensaje
            })

            return;
          }

          if(response.data.code == 200){
            
            this.$q.notify({
                  color: "green-6",
                  textColor: 'white',
                  position: 'top',
                  icon: 'cloud_done',
                  message: response.data.mensaje
                })

          }else{

            this.$q.notify({
                color: 'red-5',
                textColor: 'white',
                position: 'top',
                icon: 'warning',
                message: response.data.mensaje
            })

          }

      })
      .catch( (error) => {
          alert("Error ...." + error)
      });

    }
  },

  created(){

    let token = this.$store.getters['usuario/token']

    this.$axiosMetodosApi.ValidarToken(token)
        .then( (response) => {
          
          if (response.data.code == 403) {

              this.$PushRoute('/')

              this.$q.notify({
                color: 'red-5',
                textColor: 'white',
                position: 'top',
                icon: 'warning',
                message: response.data.mensaje
              })
          }
      })
      .catch( (error) => {

        this.$PushRoute('/')
          
      });
  }


}
</script>

<style type="text/css">

  @media only screen and (max-width: 767.9px) {

		.ml-registroPortafolio {
			margin-left: 0px;
		}
	}
	
</style>
