<template>
  <q-page padding>
    <!-- content -->

    <div class="q-ml-md">
  		<h3 class="titulo">Secci&oacute;n de Usuarios</h3>

  		<q-breadcrumbs>
	      <q-breadcrumbs-el :to="{ path: '/panel/registro-portafolios' }" label="Inicio" />
	      <q-breadcrumbs-el label="Usuarios" />
	    </q-breadcrumbs>
  
  	</div>

    <h5 style="text-align: center;"  class="titulo">Nuevo Usuario</h5>

    <div class="q-ml-md ml-personalizado" style="text-align: center">
      
        <div class="q-pa-md flex flex-center" style="">

          <q-card class="my-cardUsuario">

            <q-card-section>

              <q-form
                @submit="guardarUsuario"
                @reset="limpiarForm"
                class="q-gutter-md"
              >

                <div class="row justify-between">
                  
                  <div class="col-xs-12 col-md-5 ">
                    <q-input
                     
                      v-model="nombres"
                      label="Nombres"
                      lazy-rules
                      :rules="[ val => val && val.length > 0 || 'Este campo es obligatorio']"
                    />
                    
                  </div>
                  <div class="col-xs-12 col-md-5 ">
                    <q-input
                    
                      v-model="apellidos"
                      label="Apellidos"
                      lazy-rules
                      :rules="[ val => val && val.length > 0 || 'Este campo es obligatorio']"
                    />
                    
                  </div>

                 
                </div>

                <div class="row justify-between q-pt-md">

                    <div class="col-xs-12 col-md-5">
                    <q-input
                      v-model="email"
                      label="Correo"
                      lazy-rules
                      :rules="[ val => val && val.length > 0 || 'Este campo es obligatorio']"
                    />
                    
                  </div>
                  <div class="col-xs-12 col-md-5 ">
                    <q-input
                      type="password"
                      v-model="password"
                      placeholder="***********"
                      label="CONTRASEÑA"
                      lazy-rules
                      :rules="[ val => val && val.length > 0 || 'Este campo es obligatorio']"
                    />
                    
                  </div>


                </div> 

                <div class="row q-pt-md justify-center">

                  <div class="col-md-4">

                    <q-btn label="REGISTRAR" type="submit" class="btnAzulCielo"/>
                    
                  </div>

                </div>  


              </q-form>

            </q-card-section>  

            

          </q-card>

        </div>  

    </div>


    <div class="q-ml-md tabla" style="text-align: center">

      <UsuarioTabla v-bind:data="data" />

    </div>  

  </q-page>
</template>

<script>

import { Notify } from 'quasar'

import UsuarioTabla from 'components/UsuarioTabla'

export default {
   name: 'Usuario',
   components : { UsuarioTabla },
   data () {
      return {
        nombres: null,
        apellidos: null,
        email: null,
        password: null,
        data: []
      }
   },

   methods: {
      guardarUsuario () {

        let data = {
          "email" : this.email,
          "password" : this.password,
          "nombres" : this.nombres,
          "apellidos" : this.apellidos 
        }

        let token = this.$store.getters['usuario/token']


        this.$axiosMetodosApi.insertUsuario(data, token)
        .then( (response) => {

          if (response.data.code == 403) {
            localStorage.removeItem('token')
            this.$PushRoute('/')

            this.$q.notify({
                color: 'red-5',
                textColor: 'white',
                position: 'top',
                icon: 'warning',
                message: response.data.mensaje
            })

            return;
          }

          //console.log(response.data)
          if (response.data.code == 200) {

            this.$q.notify({
                  color: "green-6",
                  textColor: 'white',
                  position: 'top',
                  icon: 'cloud_done',
                  message: response.data.mensaje
                })
            
            //llamo para que refrezque la variable data y actualize la tabla de usuarios
            this.getDataUsuarios()

            //limpio el formulario
            this.limpiarForm()
             

          }else{

               this.$q.notify({
                  color: 'red-5',
                  textColor: 'white',
                  position: 'top',
                  icon: 'warning',
                  message: response.data.mensaje
              })

          }
  
        }).catch( (error) => {

          alert(error)
          
        })
      },

      getDataUsuarios(){

        let token = this.$store.getters['usuario/token']
        
       this.$axiosMetodosApi.getUsuarios(token)
        .then( (response) => {

            if (response.data.code == 403) {
                localStorage.removeItem('token')
                this.$PushRoute('/')

                this.$q.notify({
                  color: 'red-5',
                  textColor: 'white',
                  position: 'top',
                  icon: 'warning',
                  message: response.data.mensaje
                })

                return;
              }

          if (response.data.code == 200){
              this.data = []

              var datos =  response.data.usuarios

              for (let index = 0; index < datos.length; index++) {

                  this.data[index] = {
                    id: datos[index].id_users,
                    correo: datos[index].email,
                    rol: datos[index].rol,
                    nombres: datos[index].nombres,
                    apellidos : datos[index].apellidos
                }
                
            }
          
          }
  
        }).catch( (error) => {

          alert(error)
          
        });
     },

     limpiarForm() {
        this.email    = " "
        this.password = " "
        this.nombres  = " "
        this.apellidos= " "
     }
   },

   created() {
      
     this.getDataUsuarios()
    
   }

   
}
</script>




<style type="text/css">
  
  .my-cardUsuario{
    width: 800px;
  }


  @media only screen and (max-width: 767.9px) {
		h3 {
      font-size: 20px;
    }

    h5 {
      font-size: 17px;
    }

    .my-cardUsuario{
      width: 100%;
    }

    

    .tabla {
      margin-left: 0px;
    }

	}



</style>
