<template>
    
        <div class="col-xs-12 col-sm-6 col-md-4">
		   		
		   		<q-card class="my-card">
				    
				    <img height="300" :src="img_destacada">

				    <q-card-section class="row bg-grey-1 text-center" >

				    	<div class="col-xs-12 col-md-6">

				    		<div class="text-h6">Titulo</div>
        					<div class="text-subtitle2">
        						{{ titulo }}
        					</div>
				    		
				    	</div>

				    	<div class="col-xs-12 col-md-6">
				    		<div class="text-h6">Autor</div>
        					<div class="text-subtitle2">
        						{{ autor }}
        					</div>
				    		
				    	</div>

				    </q-card-section>

				    <q-card-section id="section2" class="row bg-grey-1 text-center">

				    	<div class="col-xs-12 col-md-6">

				    		<div class="text-h6">Categoria</div>
        					<div class="text-subtitle2">
        						categoria
        					</div>
				    		
				    	</div>

				    	<div class="col-xs-12 col-md-6">
				    		<div class="text-h6">Fecha</div>
        					<div class="text-subtitle2">
        						{{ fechaRegistro }}
        					</div>
				    		
				    	</div>
				        
				    </q-card-section>

				</q-card>
		   		
		</div>
  
</template>

<script>
export default {
    name: 'DetallePortafolio',
    props: {
        titulo : String,
        autor : String,
        link: String,
        descripcion: String,
        img_destacada: String,
        fechaRegistro: String
    }
}
</script>

<style type="text/css">
    .my-card{
  		max-width: 310px;
  		padding: 0px;
  		color: #fff;
  		margin-top: 30px !important;
  	}

	@media screen and (min-width: 768px) and (max-width: 1024px) { 
		.my-card{
			max-width: 320px;
		}

	}

	@media only screen and (max-width: 767.9px) {
		.text-center{
			text-justify: center;
		}
	}
</style>