<template>
  <q-item
    class="enlaces"
    clickable
    @click="$PushRoute(path)"
  >
    
    <q-item-section>
      <q-item-label>{{ title }}</q-item-label>
      
    </q-item-section>

  </q-item>
</template>

<script>

export default {
  name: 'EssentialLink',
  props: {
    title: {
      type: String,
      required: true
    },
    path: {
      type: String
    }
  }
}
</script>


<style type="text/css">
  
  .enlaces {
    border-top: 0.5px solid #1F618D;
    border-bottom: 0.5px solid #1F618D;
  }
</style>
