<template>

  	<div>
    	<h5 style="text-align: center;"  class="titulo">Tabla de registros</h5>

		<q-table
		title="Usuario"
		:data="data"
		:columns="columns"
		row-key="name"
		/>

    </div>

  	

</template>

<script>

export default {
  name: 'UsuarioTabla',
  props :{
	  data: Array
  },
  data () {
    return {
		dataUser: [
			{
				id: 1,
				correo: 'hola',
				rol: 1,
				nombres: 'ricardo',
				apellidos: 'fuentes'
			}
		],
		//data: [],
    	columns: [
    		{
    			name:'id',
				label: 'Id',
				field: 'id'
    		},
    		{
    			name:'correo',
				label: 'Correo',
				field: 'correo'
    		},
    		{
    			name:'rol',
				label: 'Rol',
				field: 'rol'
    		},
    		{
    			name: 'nombres',
				label: 'Nombres',
				field: 'nombres'
    		},
    		{
    			name: 'apellidos',
				label: 'Apellidos',
				field: 'apellidos'
    		}
		]
    }
  },
  /*created() {
     console.log("se ejecuto esto usuarioTabla")
	 
	 this.$axiosMetodosApi.getUsuarios()
      .then( (response) => {

        //console.log(response.data)
        if (response.data.code != 200) {
          console.log(response.data);

        }else{
		  //console.log(response.data);
		  
		  this.data = []

            var datos =  response.data.usuarios

            for (let index = 0; index < datos.length; index++) {

                this.data[index] = {
                  id: datos[index].id_users,
                  correo: datos[index].email,
                  rol: datos[index].rol,
                  nombres: datos[index].nombres,
                  apellidos : datos[index].apellidos
              }
              
          }
         
        }
 
      }).catch( (error) => {

        alert(error)
         
      });
   }*/

}

</script>


<style>
	
</style>



