/*estilos para el login*/

#layoutLogin {
	background-color: #212169;
}

.my-card-login{
	width: 450px;
	padding: 40px;
	color: #212169;
	margin-top: 100px;
}

#logo-login {
	width: 400px;
	height: 720px;
}


.btnAzulCielo {
	background-color: #22D7E8;
	color: #fff;
	width: 80%;
}

.q-field__label {
    color: #212169;
}

.pt-2 {
	padding-top: 10px;
}

.mt-2{
	margin-top: 40px;
}

.enlace{
	text-decoration: none;
	color: #212169;
}

.copyrigth{
	color: #fff;
	margin-top: 20px;
	text-align: center;
	margin-left: 200px;
}

.titulo{
		margin-bottom: 20px !important;
		color: #212169;
	}



@media only screen and (max-width: 767.9px) {
	#logo-login {
		display: none;
	}

	.my-card-login {
		width: 100%;
		margin-top: 30px;
		padding: 5px;
	}

	.copyrigth{
		margin-left: 0px;
	}

	#logo-login2 {
		display:block;
	}

	.ml-personalizado {
		margin-left: 0px;
	  }

	
}

@media screen and (min-width: 768px) and (max-width: 1024px) { 
	#logo-login {
		width: 330px;
		height: 627px;
		margin-left: 50px;
	}
	.my-card-login {
		width: 350px;
		
	}

	.copyrigth{
		margin-left: 100px;
	}
}