<template>
  <q-layout view="lHh Lpr lFf">
    <q-header elevated  style="background-color:#fff;color: #212169;">
      <q-toolbar >
        <q-btn
          style="color: #212169;"
          flat
          dense
          round
          icon="menu"
          aria-label="Menu"
          @click="leftDrawerOpen = !leftDrawerOpen"
        />

        <q-toolbar-title></q-toolbar-title>
        
        <!--<q-item
          clickable
          @click="cerrarSesion()"
        >
          Salir
        </q-item>-->
        <q-btn-dropdown flat id="btn-usuario" color="" label="">
          <q-list>
            <q-item clickable v-close-popup @click="$PushRoute('/panel/Perfil')">
              <q-item-section>
                <q-item-label>Perfil</q-item-label>
              </q-item-section>
            </q-item>

            <q-item clickable v-close-popup @click="cerrarSesion()">
              <q-item-section>
                <q-item-label>Salir</q-item-label>
              </q-item-section>
            </q-item>

            
          </q-list>
        </q-btn-dropdown>

        
      </q-toolbar>
    </q-header>

    <q-drawer

      id="sidebar"
      v-model="leftDrawerOpen"
      show-if-above
      bordered
      content-class="bg-grey-1"
    >

      <div id="logo" class="listaPanel">

        <img width="120" src="~assets/panel/logo_panel.png">
        
      </div>

      <div id="containerAvatar" class="row listaPanel">
        <div class="col-xs-12 col-md-12">
          <img id="avatar" width="120" src="~assets/panel/avatar-hr.png">
        </div>
        <div class="col-xs-12 col-md-12">
          Nicolocar toro<br>
          example@gmail.com
        </div>


      </div>

      <q-list bordered separator class="listaPanel">
         
        <!--<q-item-label
          header
          class="text-grey-8"
        >
          Essential Links
        </q-item-label>-->

        <EssentialLink
          v-for="link in essentialLinks"
          :key="link.title"
          v-bind="link"
        />

      </q-list>

    </q-drawer>



    <q-page-container>
      <router-view />
    </q-page-container>
  </q-layout>
</template>

<script>
import EssentialLink from 'components/EssentialLink.vue'

const linksData = [
  {
    title: 'INICIO',
    path: "/Panel/Registro-portafolios"
  },
  {
    title: 'PORTAFOLIO',
    path: "/Panel"
  },
  {
    title: 'USUARIOS',
    path: "/Panel/Usuarios"

  }
];

export default {
  name: 'MainLayout',
  components: { EssentialLink },
  data () {
    return {
      leftDrawerOpen: false,
      essentialLinks: linksData
    }
  },
  methods: {
    cerrarSesion(){
      //localStorage.removeItem('token')
      this.$store.dispatch('usuario/cerrarSesion')
      
      this.$PushRoute('/')

    }
  }
}
</script>

<style type="text/css">

  #avatar{
    width: 80px;
    height: 80px;
    border-radius: 50%;
    margin: auto;
  }


  #logo {
    padding-top: 40px;
    padding-bottom: 30px;
  }

  #containerAvatar{
    padding-top: 20px;
    padding-bottom: 30px;
  }


  #sidebar {
    color: #fff;
  }

  .bg-grey-1 {
    background-color: #212169 !important;
  }

  .listaPanel{
    text-align: center;
  }

  #btn-usuario {
    color: #212169 !important;
  }


</style>
